Django==4.0.4
djangorestframework==3.13.1
django-filter==21.1
django-environ==0.8.1
django-autoslug==1.9.8
django-countries==7.3.2
Pillow==9.1.0
django-phonenumber-field==6.1.0
phonenumbers==8.12.48
psycopg2-binary==2.9.3
flake8==4.0.1
black==22.3.0 
isort==5.10.1
djoser==2.1.0
PyJWT==2.4.0
pytest-django==4.5.2
pytest-factoryboy==2.3.1
Faker==13.11.1
pytest-cov==3.0.0
redis==4.3.1
celery==5.2.6
flower==1.0.0
django-celery-email==3.0.0
argh==0.26.2
PyYAML==5.3.1
watchdog==1.0.2
mysql-connector-python==8.0.29 